@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Paprika&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    /* font-family: Arial sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.particle{
    position: absolute;
}
.particle--left{
    position: absolute;
    left: 0;
    
}
.particle--right{
    position: absolute;
    right: 0;
    
}

.link:hover{
    color: #27abb7;
}

.section-subtitle{ 
    display: block; 
    width: 100%; 
    text-align: center; 
    color: #959695; 
    font-size: 18px; 
    margin-bottom: 30px; 
}
.section-title{ 
    font-size: 45px; 
    color:#313131; 
    margin-bottom: 80px; 
    text-align: center; 
    font-weight: 500;
}




/* shopping_cart */

.shopping_cart{
    position: fixed;
    top: 20%;
    right: 10px;
    cursor: pointer;
    z-index: 50;
    transition: 1s;
    
    
}
.cart{
    width: 80px;
}
.shopping_cart:hover{
    transition: 1s;
    transform: scale(1.2);
}
.cart__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
    z-index: 51;
  }




  
/* form */


 /* .checkout_form {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  width: 100%;
  height: 100%;
} */
.checkout_form{
  width: 100%;
}
 .input-field{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
  
}
.form_input {
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}
.input-field label{
  margin-top: 20px;
}
.button_submit{
  width: 100%;
  height: 54px;
  font-size: 18px;
  color: white;
  background: #27abb7;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.form_h1{
  color: #27abb7;
  margin-top: 50px;
}


/*header*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 2;
}
.header_burger{
    display: none;
}
.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    
}
.menu_logo{
    font-size: 28px;
    font-weight: bold;
    
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 3;
}
.menu_logo span{
    color: #27abb7;
    font-weight: bold;
}
.header_body a{
    text-decoration: none;
    color: #333;
    transition: 200ms;
}
.menu_link:hover{
    color: #27abb7;
}
.menu_link-active:hover{
    color: #27abb7;
}
a.menu_logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    text-indent: 20px;
}
.header_menu a{
    position: relative;
    z-index: 2;
}
.menu_link,
.menu_link-active{
    padding: 10px;
    margin: 10px;
} 
.menu_link-active{
    font-weight: bold;
}
.header_burger{
    display: none;
}



/*Welcome*/

.welcome{
    position: relative;
    display: flex;
    align-items: center;
    top: 20px;
}
.particle--left{

    width: 400px;
    
}
.particle--right{
    
    width: 400px;
    
}

.welcome_inner{
    padding: 188px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.welcome_title{
    font-weight: 800;
    font-size: 56px;
    line-height: 1;
    margin-bottom: 36px;
    color: #313131;
}
.welcome_subtitle{
    font-size: 18px;
    color: #959695;
    max-width: 492px;
    margin: 0 auto 64px;
}
.welcome_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_buttons .btn{
    margin: 0;
}
.welcome_link{
    margin-left: 37px;
    position: relative;
}
.welcome_link::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent #514040 #514040 transparent;
    transform: rotate(-45deg) translateY(-50%);
}
.btn{
    padding: 20px 45px;
    border-radius: 8px;
    border: none;
    background-color: #27abb7;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}



/* Delivery_information */
.Delivery_aboutus_information{
    background-color: #f1f1f1;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
    width: 100%;
    padding-bottom: 100px;
}
.Delivery_aboutus_information h1{
    font-size: 46px;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #27abb7;
}
.Delivery_aboutus_information p{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}


/* catalog */
.ctalog{
    margin-top: 200px;
  }
  .catalog_title{
    color: #27abb7;
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
  }

  .products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .product {
    margin-bottom: 40px;
    width: 301px;
    -webkit-box-shadow: 0px 5px 20px -4px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 20px -4px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 20px -4px rgba(34, 60, 80, 0.6);
  }
  .product_head{
    width: 100%;
  }
  .carousel {
    width: 301px;
    height: 400px;
    position: relative;
}

.carousel > ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.slide2[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.slide2 {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.carousel2 {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.testimonials_list2{
    display: flex;
    column-gap: 15px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, 
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
    font-size: 35px;
}

.carousel-button.next {
    right: 1rem;
    font-size: 35px;
}
  .product_body{
    padding: 0 20px;
  }
  
  .product img {
    max-width: 100%;
    /* width: 400px; */
  }
  .product_price{
    color: orange;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
  }
  .product_description{
    color: #959695;
    padding: 10px 0;
  }
  .size_btn{
    padding: 5px 5px;
  }
   
  .cart {
    /* z-index: 10px; */
    /* position: fixed; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 101;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
    overflow-y: auto;
  }
  .cart_top{
    display: flex;
    justify-content: space-between;
  }
  .cart_top h1{
    color: #27abb7;
  }
  .cart_close{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  .cart_container{
    background-color: #fff;
    padding: 20px 20px;
    width: 600px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .cart_btn{
    z-index: 102;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: #27abb7;
    transition: 0.1s;
    cursor: pointer;
    position: fixed;
    top: 130px;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .cart_btn:hover{
    transform: scale(1.1);
  }
  .cart_btn_image{
    max-inline-size: 100%;
    max-block-size: 100%;
  }
  .cart-count {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
  }
  
  .cart h2 {
    font-size: 1.5em;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
    
  }
  
  .cart-items li {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  /* .cart-items button{
    border: none;
    background: none;
    cursor: pointer;
  } */
  .minus_btn, .plus_btn{
    border: solid 1px black;
    border-radius: 5px;
    padding: 6px 11px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }

  .delete_btn{
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .addToCart_btn {
    padding: 15px 20px;
    margin: 20px 0;
    width: 100%;
    background-color: #27abb7;
    color: #fff;
    border: 1px solid #27abb7;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 200ms;
  }
  .addToCart_btn:hover{
    color: #27abb7;
    background-color: #fff;
  }

  
  .product_body label{
    color: #959695;
  }
  
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  


 






/* testimonials */

.Testimonials{
    margin-top: 300px;
}

.testimonials-title{
    font-size: 46px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #27abb7;
}

.Testimonials ul{
    list-style: none;
}

.testimonials_inner{
    position: relative;
    padding-bottom: 140px;
}

.testimonials_slider{
    background-color: #f2f2f2;
    padding: 30px 0;
    margin: 0 80px;
    position: relative;
    height: 540px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonials_list{
    display: flex;
    column-gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials_slide{
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    padding: 40px 32px;
    width: 380px;
}

.testimonials_feedback-title{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    color: #32435C;
}


.testimonials_rating{
    display: flex;
    row-gap: 3px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.star{
    width: 18px;
    height: 18px;
}

.testimonials_author{
    font-weight: 600;
    font-size: 14px;
    color: #27abb7;
}

.testimonials_slider-controls{
    padding: 8px;
    border-radius: 70px;
    background-color: #fff;
}

.left-btn,
.right-btn{
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.right-btn{
    background-color: #313131;
}










/* footer */

.footer_section{
    margin-top: 150px;
    height: 100%;
    background-color: #27abb7;
    padding: 30px 0;
}
.footer_img{
    width: 60px;
}
.footer_columns{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 50px;
   
}
.footer_column{
    color: #fff;
}
.whatsapplogo{
    margin-right: 10px;
}



@media (max-width: 1415px) {
    .particle{
        display: none;
    }
}





@media (max-width: 768px) {
    body{
        overflow: hidden;
    }
    /* shopping_cart */
    .popup__product-title{
        font-size: 10px;
    }
    .popup__product-size{
        font-size: 10px;
    }
    .popup__product-price{
        font-size: 10px;
    }
    .cart_btn{
        top: 20%;
        right: 10px;
        width: 60px;
        height: 60px;
    }
    .cart_container{
        background-color: #fff;
        padding: 20px 20px;
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
      }
    .welcome{
        background: url(../images/446121056_824823109521394_4187535954544318702_n\ 2\ \(1\).png);
        background-size: cover;
        background-position:center;
        width: 100%;
    }
    .welcome_title{
        font-size: 34px;
    }
    .welcome_inner {
        display: flex;
        flex-direction: column;
    }
    .particle{
        display: none;
    }
    .header{
        width: 100%;
    }
    .menu_link-active:hover{
        color: #fff;
    }
    .menu_link:hover{
        color: #fff;
    }
    .header_body{
        height: 50px;
    }
    .header_menu a{
        display: block;
    }
    .header_menu{
        margin-top: 50px;
    }
    body.lock{
        overflow: hidden;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #313131;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #313131;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #27abb7;
        top: -100%;
        transition: 0.3s;
        overflow: auto;
    }
    .header_menu.active{
        top: 0;
    }
    .logo{
        width: 40px;
        height: 40px; 
    }
    .menu_logo{
        font-size: 20px;
    }
    .active span{
        transform: scale(0);
    }
    .active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }



    /* .Delivery_information */
    .Delivery_aboutus_information{
        margin-top: 0;
        height: 100%;
        text-align: center;
    }
    .Delivery_aboutus_information p{
        font-size: 18px;
        /* width: 375px */
    }

    /* katalog */
    .products{
        display: flex;
        justify-content: center;
    }

    /* Testimonials */
    .testimonials_slider{
        padding: 30px 0;
        margin: 0 80px;
        position: relative;
        height: 480px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .testimonials_list{
        top: 40%;
    }
    .testimonials_slide1, .testimonials_slide2{
        display: none;
    }
    .testimonials_slide{
        width: 300px;
    }



    /* footer */
    .footer_columns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    }